*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
  }
  header {
    margin: 1px;
    width: 80em;
    text-align: right;
    text-transform: uppercase;
    border-radius: 1em;
    font-size: medium ;color-scheme: white;
    
  }
  .container{
    background-color: rgb(243, 58, 58);
    height: 100px;
    background-size: cover;
    padding: 30px;
    
  }
    .exemplo-menu{
      background-color: rgb(243, 58, 58);
      height: 100px;
      background-size: cover;
      padding: 30px;
      font-size: 15px; color: rgb(248, 252, 255);
    }
   
   .exemplo-back{
      height: 700px;
      background-color: rgb(195, 206, 206);
      background-image: url(img/Institucional.jpg);
      background-size: cover;
      background-repeat: no-repeat;
    } 
  
   .botao{
      margin-left: 45%;
      background-color: rgb(243, 58, 58);
      color: white;
      padding: 15px;
      border-radius: 3px;
      text-decoration: none;
      font-size: 20px;
   }
   .image-revenda{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    font-family: robot;
   }
  
   .image-contato{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: robot;
    }
    #video{
      margin-left: 30%;
      color: white;
      padding: 15px;
      border-radius: 3px;
      text-decoration: none;
      font-size: 20px;
    }
    #mapa{
      margin-left: 25%;
      color: white;
      padding: 15px;
      border-radius: 3px;
      text-decoration: none;
      font-size: 20px;
    }
   .pedido{ 
    margin-left: 5%;
    background-color: rgb(243, 58, 58);
    color: white;
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 20px;
   }

   .domicilio{
    background-color: rgb(243, 58, 58);
    color: white;
    padding: 15px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 20px;
   }

   .layout-meio{
    text-align: center;
   }
  
    footer .container{
      display: flex;
      color: rgb(240, 232, 232);
    }
    footer .container ul{
      width: 25%;
    }
  
    .redes-sociais{
    margin-left: 45%;
    }
   .footer{
    text-align: justify;
   }
   